<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.sedlaj19.autoskola">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".AndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.ui.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ui.activities.SignUpActivity"
            android:label="@string/registration_title"
            android:parentActivityName=".presentation.ui.activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PATENT_ACTIVITY"
                android:value=".presentation.ui.activities.MainActivity" />
        </activity>
        <activity
            android:name=".presentation.ui.activities.DashboardActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.activities.InstructorActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.ui.activities.AddRideActivity"
            android:label="@string/add_ride_title"
            android:parentActivityName=".presentation.ui.activities.InstructorActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PATENT_ACTIVITY"
                android:value=".presentation.ui.activities.InstructorActivity" />
        </activity>
        <activity android:name=".presentation.ui.activities.AddStudentActivity"
            android:label="Add student"
            android:parentActivityName=".presentation.ui.activities.InstructorActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PATENT_ACTIVITY"
                android:value=".presentation.ui.activities.InstructorActivity" />
        </activity>
        <activity android:name=".presentation.ui.activities.ManageCarsActivity"
            android:label="Cars"
            android:parentActivityName=".presentation.ui.activities.InstructorActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PATENT_ACTIVITY"
                android:value=".presentation.ui.activities.InstructorActivity" />
        </activity>

        <service
            android:name=".sync.MyFirebaseInstanceIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".sync.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".sync.NotificationPublisher"/>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_add_circle_outline_white_48dp" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>